numpy==2.3.3
pandas==2.3.3
chardet==5.2.0
pyyaml==6.0.3
xlsxwriter==3.2.9
pyquery==2.0.1
psutil==7.1.0
fastapi==0.118.0
uvicorn==0.37.0
deap==1.4.3
websockets==15.0.1
pyfolio==0.9.2
itsdangerous==2.2.0
baostock==0.8.9
tqdm==4.67.1
tqsdk==3.8.6
statsmodels==0.14.0
python-dotenv==1.1.1